<html>
    <head></head>
    <body>
    <h1 style="font-size: 40px">CEX stock check</h1>
    <p>
        <span style="font-size: 25px">In Stock:</span>
        <ul style="list-style-type:square">
            <span style="font-size: 20px">{}</span>
        </ul>
        <span style="font-size: 25px">Out of Stock:</span>
        <ul style="list-style-type:square">
            <span style="font-size: 20px">{}</span>
        </ul><br>

        <span style="font-size: 25px">Items currently in the checklist:</span>
        <ul style="list-style-type:square">
            <span style="font-size: 20px">{}</span>
        </ul>
    </p>
    </body>
</html>